language: python
dist: trusty
addons:
  apt:
    source:
    - ubuntu-toolchain-r-test
    packages:
    - build-essential
    - google-chrome-stable
    - libcairo2-dev
    - libjpeg8-dev
    - libpango1.0-dev
    - libgif-dev
    - g++-4.8

matrix:
  include:
  - python: 2.7
    env: TOX_ENV=py27
  - python: 3.5
    env: TOX_ENV=py35
  - python: 2.7
    env: TOX_ENV=flake8
  - python: 2.7
    env: TOX_ENV=coveralls

before_install:
  - npm install -g typescript
  - tsc --module amd --noImplicitAny --outdir datalab/notebook/static datalab/notebook/static/*.ts
  # We use tox for actually running tests.
  - pip install --upgrade pip tox
  
script:
  # tox reads its configuration from tox.ini.
  - tox -e $TOX_ENV

