language: python
python:
  - "2.7"

before_install:
  - npm install -g typescript
  - tsc --module amd --noImplicitAny --outdir datalab/notebook/static datalab/notebook/static/*.ts
  - pip install -U pip
  - pip install .

script: python ./tests/main.py

